:root {
  font-family: Jost, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100%;
}
body {
  background-color: #141414;
  height: 100vh;
  margin: 0;
}

main {
  display: flex; /* Make main a flex container */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100vh;
  width: 100vw; /* Ensure main takes full width */
}

.logo {
  display: flex;
  align-self: center;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 100%;
  object-fit: contain;
}
.logo:hover {
  filter: drop-shadow(0 0 0.1em #DF5C9A);
}
.logo-container {
  display: flex;
  justify-content: center; /* Center the logo inside the container */
  align-items: center; /* Center the logo inside the container */
  height: 100%;
  width: 100%; /* Ensure logo-container takes full width */
}