:root {
  font-family: Jost, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  min-height: 100%;
}
body {
  background-color: #141414;
  height: 100dvh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  align-self: center;
  object-fit: contain;
  max-width: 80%;
}